.App {
  display:flex;
  justify-content:center;
  align-items:center;
  height:100px;
  padding-top:200px;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.buttons {
  padding:20px;
  display:flex;
  justify-content:center;
  width: 100%;
  align-items:center;
  }
.buttons .btn1
{
  background-color:red;
  color:black;
  padding:10px;
  font-weight:400;
  font-size:20px;
  margin:20px;
}
.buttons .btn2
{
  background-color:green;
  color:black;
  font-weight:400;
  font-size:20px;
  margin:20px;

}

.buttons .btn3
{
  background-color:black;
  color:white;
  padding:10px;
  font-weight:400;
  font-size:20px;
}

.text
{
  text-align:center;
  font-size:25px;
  color:black;
  font-weight:500;
}


